

body { 
    background-color: rgb(31, 34, 40);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
}
#form {
    height: 390vh;
}
#field {
    background-color:rgb(50, 63, 63);
    border-radius: 12px;
    border: 2px solid rgb(50, 63, 63);
    padding: 20px;
    box-shadow: 14px 12px 10px rgb(0, 0, 0);
    border-left: solid rgb(101, 98, 109);
    
}
#divDados {
    margin-top: 40px;
}
    
.dados {
    border-radius: 6px;
    padding: 4px;
    background-color: rgb(71, 71, 93);
    border: 4px solid rgb(71, 71, 93);
    width: 200px;
}
.dados:focus {
    outline: none;
    border: 4px solid rgb(120, 120, 160);

}
input::placeholder {
    color: rgb(185, 171, 171);
    margin-top: 20;
}


input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: rgb(71, 71, 93);
    border: 2px solid rgb(71, 71, 93);
    color:rgb(185, 171, 171);
    border-radius: 6px;
    width: 200px;
    font-size: 20px;
}

#span1 {
    color: rgb(125, 127, 133);
}

a {
    text-decoration: none;
    color:rgb(185, 171, 171);
    margin-left: 13px;
}

#h1login {
    color:rgb(194, 203, 210);
    height: vh;
    

}

